{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard | Dashboard</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'admin/img/svg/logo.svg' %}" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'admin/css/style.min.css' %}">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <style>
    .project-orders-table {
     
      background-color: #f5f5f5;
      width:500px;
      border-radius: 10px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
      background-color: #ffffff;
      width:500px;
  }
  </style>
</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="/" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">Admin</span>
                    <span class="logo-subtitle">Dashboard</span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="active" href="{% url 'admin_dashboard' %}"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                </li>
                <li>
                   
                      <li>
                        <a class="show-cat-btn" href="##">
                            <span class="icon user-3" aria-hidden="true"></span>User Management
                            <span class="category__btn transparent-btn" title="Open list">
                                <span class="sr-only">Open list</span>
                                <span class="icon arrow-down" aria-hidden="true"></span>
                            </span>
                        </a>
                        <ul class="cat-sub-menu">
                          <li>
                            <a href="{% url 'admin_pending_users' %}">Pending Users</a>
                        </li>
                        <li>
                            <a href="{% url 'admin_all_users' %}">All Users</a>
                        </li>
                        </ul>
                    </li>
                    
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon paper" aria-hidden="true"></span>Dataset
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                      <li>
                        <a href="{% url 'admin_upload' %}">Upload Dataset</a>
                    </li>
                    <li>
                      <a href="{% url 'admin_view' %}">View Dataset</a>
                  </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon image" aria-hidden="true"></span>Algorithms
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                      <li class="nav-item"> <a class="nav-link" href="{% url 'admin_Xg_algo' %}">XG-BOOSTAlgorithm</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{% url 'admin_ada_algo' %}">ADA-BOOSTAlgorithm</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{% url 'admin_Logistic_algo' %}">LogisticAlgorithm</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{% url 'admin_knn_algo' %}">KNN -Algorithm</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{% url 'admin_Randomforest_algo' %}">Random Forest-Algorithm</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{% url 'admin_dt_algo' %}">Decision Tree Algorithm</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{% url 'admin_greadient_algo' %}">Greadient-Algorithm</a></li>
                     
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon category" aria-hidden="true"></span>Admin Graph
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                      <li>
                        <a href="{% url 'admin_graph' %}">AdminGraph Analysis</a>
                    </li>
                    </ul>
                </li>
                <li>
                  <a class="show-cat-btn" href="##">
                      <span class="icon user-3" aria-hidden="true"></span>Users Feedbacks
                      <span class="category__btn transparent-btn" title="Open list">
                          <span class="sr-only">Open list</span>
                          <span class="icon arrow-down" aria-hidden="true"></span>
                      </span>
                  </a>
                  <ul class="cat-sub-menu">
                  <li>
                      <a href="{% url 'user_feedbacks' %}">Feedbacks</a>
                  </li>
                  <li>
                      <a href="{% url 'user_sentiment' %}">Sentiment Analysis</a>
                  </li>
                  <li>
                    <a href="{% url 'user_graph' %}">Feedback Graph</a>
                </li>
                  </ul>
              </li>
                
            </ul>
            
            
        </div>
    </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="{% static 'admin/img/avatar/avatar-illustrated-01.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-illustrated-01.png' %}" alt="User name"></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">Admin.</span>
                <span class="sidebar-user__subtitle">Support manager</span>
            </div>
        </a>
    </div>
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
      <div class="search-wrapper">
        <i data-feather="search" aria-hidden="true"></i>
        <input type="text" placeholder="Enter keywords ..." required>
      </div>
    </div>
    <div class="main-nav-end">
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>
      <div class="lang-switcher-wrapper">
        <button class="lang-switcher transparent-btn" type="button">
          EN
          <i data-feather="chevron-down" aria-hidden="true"></i>
        </button>
        <ul class="lang-menu dropdown">
          <li><a href="##">English</a></li>
          <li><a href="##">Telugu</a></li>
        </ul>
      </div>
      <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        <span class="sr-only">Switch theme</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>
      <div class="notification-wrapper">
        <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
          <span class="sr-only">To messages</span>
          <i data-feather="log-out" aria-hidden="true"></i>
        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">

          <li><a class="danger" href="{% url 'admin_login' %}">
              <span>Log out</span>
            </a></li>
        </ul>
      </div>
      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          <span class="sr-only">My profile</span>
          <span class="nav-user-img">
            <picture><source srcset="{% static 'admin/img/avatar/avatar-illustrated-02.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-illustrated-02.png' %}" alt="User name"></picture>
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Decision Tree Algorithm</h2>
        <div class="col-4 text-center m-auto" style=" margin-left:300px; margin-top: 20px; margin-bottom:100px;">
          <div class="row">
              <div style="padding-bottom:20px;">
                  <h2 style="text-decoration:underline;margin-left:100px;padding-bottom:20px;">Decision Tree Algorithm</h2>
                  <a href="{% url 'Decisiontree_btn' %}">
                      <input class="btn mb-4 mt-3 text-right" type="button" value="Run Algorithm"
                          style="border-radius: 7px; margin-left:200px;background-color: #0061f7; color:#fff;" />
                  </a>
                  <div class="col-md-12 tablebg" style="padding-top:20px;border-radius:20px;">
                      <div class="card text-center"
                          style="box-shadow: 0 4px 6px rgba(129, 134, 196, 0.9); height:100px border-radius:50px;">
                          <div class="table-responsive pt-3" style="border-radius:100px;">
                              <table class="table table-striped project-orders-table">
                                  <thead>
                                      <tr>
                                        <th style="text-align:center; background-color:green; color:#fff;">Name of Algorithm</th>
                                        <th style="text-align:center; background-color:green; color:#fff;">Accuracy</th>
                                        <th style="text-align:center; background-color:green; color:#fff;">Precession</th>
                                        <th style="text-align:center; background-color:green; color:#fff;">F1 Score</th>
                                        <th style="text-align:center; background-color:green; color:#fff;">Recall</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{i.Name}}</td>
                                          <td>{{i.Accuracy}}</td>
                                          <td>{{i.Precession}}</td>
                                          <td>{{i.F1_Score}}</td>
                                          <td>{{i.Recall}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <div class="chart">
              <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
            </div>
            <div class="users-table table-wrapper">
              <table class="posts-table">
                <thead>
                  <tr class="users-table-info">
                    <th>
                      <label class="users-table__checkbox ms-20">
                        <input type="checkbox" class="check-all">Thumbnail
                      </label>
                    </th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'admin/img/categories/01.webp' %}" type="image/webp"><img src="{% static 'admin/img/categories/01.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Starting your traveling blog with Vasco
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'admin/img/avatar/avatar-face-04.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-face-04.png' %}" alt="User Name"></picture>
                        Jenny Wilson
                      </div>
                    </td>
                    <td><span class="badge-pending">Pending</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'admin/img/categories/02.webp' %}" type="image/webp"><img src="{% static 'admin/img/categories/02.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Start a blog to reach your creative peak
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'admin/img/avatar/avatar-face-03.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-face-03.png' %}" alt="User Name"></picture>
                        Annette Black
                      </div>
                    </td>
                    <td><span class="badge-pending">Pending</span></td>
                    <td>23.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'admin/img/categories/03.webp' %}" type="image/webp"><img src="{% static 'admin/img/categories/03.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Helping a local business reinvent itself
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'admin/img/avatar/avatar-face-02.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-face-02.png' %}" alt="User Name"></picture>
                        Kathryn Murphy
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'admin/img/categories/04.webp' %}" type="image/webp"><img src="{% static 'admin/img/categories/04.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Caring is the new marketing
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'admin/img/avatar/avatar-face-05.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-face-05.png' %}" alt="User Name"></picture>
                        Guy Hawkins
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'admin/img/categories/01.webp' %}" type="image/webp"><img src="{% static 'admin/img/categories/01.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      How to build a loyal community online and offline
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'admin/img/avatar/avatar-face-03.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-face-03.png' %}" alt="User Name"></picture>
                        Robert Fox
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'admin/img/categories/03.webp' %}" type="image/webp"><img src="{% static 'admin/img/categories/03.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      How to build a loyal community online and offline
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'admin/img/avatar/avatar-face-03.webp' %}" type="image/webp"><img src="{% static 'admin/img/avatar/avatar-face-03.png' %}" alt="User Name"></picture>
                        Robert Fox
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-3">
            <article class="customers-wrapper">
              <canvas id="customersChart" aria-label="Customers statistics" role="img"></canvas>
              <!--              <p class="customers__title">New Customers <span>+958</span></p>
              <p class="customers__date">28 Daily Avg.</p>
              <picture><source srcset="./img/svg/customers.svg" type="image/webp"><img src="./img/svg/customers.svg" alt=""></picture> -->
            </article>
            <article class="white-block">
              <div class="top-cat-title">
                <h3>Top categories</h3>
                <p>28 Categories, 1400 Posts</p>
              </div>
              <ul class="top-cat-list">
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      Lifestyle <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      Dailiy lifestyle articles <span class="purple">+472</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      Tutorials <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      Coding tutorials <span class="blue">+472</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      Technology <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      Dailiy technology articles <span class="danger">+472</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      UX design <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      UX design tips <span class="success">+472</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      Interaction tips <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      Interaction articles <span class="warning">+472</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      App development <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      Mobile development articles <span class="warning">+472</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      Nature <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      Wildlife animal articles <span class="warning">+472</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="top-cat-list__title">
                      Geography <span>8.2k</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                      Geography articles <span class="primary">+472</span>
                    </div>
                  </a>
                </li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </main>
    <!-- ! Footer -->
    <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2023 © Codebook.in- <a  target="_blank"
          rel="noopener noreferrer">Hyderabad</a></p>
    </div>
    <ul class="footer-end">
      <li><a href="##">About</a></li>
      <li><a href="##">Support</a></li>
      <li><a href="##">Puchase</a></li>
    </ul>
  </div>
</footer>
  </div>
</div>
<!-- Chart library -->
<script src="{% static 'admin/plugins/chart.min.js' %}"></script>
<!-- Icons library -->
<script src="{% static 'admin/plugins/feather.min.js' %}"></script>
<!-- Custom scripts -->
<script src="{% static 'admin/js/script.js' %}"></script>
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
        title: "Success!",
        text: "{{message}}",
        icon: "success",
        button: "OK",
    });
</script>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<script>swal({
        title: "Warning :)",
        text: "{{message}}",
        icon: "warning",
        button: "OK",
     
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>swal({
        title: "info :)",
        text: "{{message}}",
        icon: "info",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
        title: "error :)",
        text: "{{message}}",
        icon: "error",
        button: "OK",
    });
</script>
{% endif %}
{% endfor %}
{% endif %}
</body>

</html>